@charset "UTF-8";

/* Убираем внешние отступы и учитываем border-box */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset для старых браузеров */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Основные настройки документа */

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Наследование шрифтов для форм */

input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем стандартный стиль списков */

ol,
ul {
  list-style: none;
}

/* Убираем подчеркивание у ссылок */

a {
  text-decoration: none;
  color: inherit;
}

/* Убираем дефолтные настройки таблиц */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Изображения responsive по умолчанию */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Убираем дефолтный стиль кнопок */

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Сброс стилей для fieldset */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Доступное скрытие элементов */

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Предотвращаем смену размера textarea по умолчанию */

textarea {
  resize: vertical;
}

/* Убираем автоматическое выделение цветом в Safari */

::selection {
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

@font-face {
  font-family: Inter;
  src: url("./../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #222222;
  --color-accent: #FF551A;
  --color-accent-transparent: rgb(255, 85, 26, 0.5);
  --color-blue-dark: #0E202C;
  --color-border-grey: rgba(90, 90, 90, 0.5);
  --box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.04);
  --container-width-lg: 87.5rem;
  --container-width-md: 75rem;
  --container-padding: 0.9375rem;
  --section-spacing: 5rem;
  --font-base: "Inter", sans-serif;
  --font-base-size: 1rem;
  --title-size-lg: clamp(0.9375rem, 0.1705rem + 4.0909vw, 3.75rem);
  --title-size-md: clamp(1.75rem, 1.4091rem + 1.8182vw, 3rem);
  --title-size-sm: clamp(1.25rem, 0.025rem + 2.8vw, 2.125rem);
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-base-size);
  color: var(--color-black);
  background-color: #FAFAFA;
}

.container {
  max-width: calc(var(--container-width-lg) + var(--container-padding) * 2);
  padding-inline: var(--container-padding);
  margin-inline: auto;
}

svg {
  fill: currentColor;
  flex-shrink: 0;
}

.title-lg {
  font-size: var(--title-size-lg);
  font-weight: 500;
  text-transform: uppercase;
}

.title-md {
  font-size: var(--title-size-md);
  font-weight: 500;
  text-transform: uppercase;
}

.title-sm {
  font-size: var(--title-size-sm);
  font-weight: 500;
}

a.link-accent {
  transition-duration: var(--transition-duration);
}

a.link-accent:hover {
  color: var(--color-accent);
}

a.is-active::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  right: 0.3125rem;
  bottom: 0.375rem;
  height: 0.125rem;
  background-color: var(--color-accent);
}

._anim-show {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  transform: translate(0, 0);
  opacity: 1;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  background-color: var(--color-blue-dark);
}

.overlay.is-active {
  transform: translateY(0);
}

.overlay-inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.625rem;
  height: 2.625rem;
  padding: 0.625rem;
}

.burger__line {
  height: 0.1875rem;
  width: 100%;
  background-color: var(--color-white);
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: right;
}

.burger:hover .burger__line {
  background-color: var(--color-accent);
}

.burger:hover .burger__line:nth-child(2) {
  transform: scaleX(0.65);
}

.burger:hover .burger__line:nth-child(3) {
  transform: scaleX(0.35);
}

.close-button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button__line {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: var(--color-white);
}

.close-button__line:first-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button__line:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button,
.button--transparent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(0.875rem, 0.8068rem + 0.3636vw, 1.125rem);
  text-transform: uppercase;
  font-weight: 300;
  width: 10.25rem;
  height: 3rem;
  transition-duration: 0.3s;
}

.button {
  background-color: var(--color-accent);
}

.button:hover,
.button:active {
  border: 0.0625rem solid;
  border-color: #aaaaaa;
  background-color: unset;
}

.button--transparent {
  border: 0.0625rem solid;
  border-color: #aaaaaa;
}

.button--transparent:hover,
.button--transparent:active {
  border: none;
  background-color: var(--color-accent);
}

.button-link {
  border-bottom: 0.125rem solid;
  border-color: var(--color-accent);
}

.input,
.textarea {
  border: 0.0625rem solid rgba(34, 34, 34, 0.1);
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 0.75rem 1rem;
  transition-duration: var(--transition-duration);
}

.input:focus,
.textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  height: 3.375rem;
  margin-bottom: 0.625rem;
}

.textarea {
  margin-bottom: 0.625rem;
}

.socials {
  display: flex;
  align-items: center;
}

.socials__icon {
  width: 1.125rem;
  height: 1.125rem;
  flex-shrink: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.875rem;
  height: 1.875rem;
}

.header {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  font-size: 1rem;
}

.top-header {
  border-bottom: 0.0625rem solid;
  border-color: var(--color-border-grey);
  font-size: 1rem;
}

.top-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.contacts__link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.5rem;
}

.body-header__inner {
  min-height: 5.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu__list {
  display: flex;
  column-gap: 1.25rem;
}

.menu__link {
  position: relative;
  padding: 0.9375rem 0.3125rem;
}

.menu__link.is-active::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  right: 0.3125rem;
  bottom: 0.375rem;
  height: 0.125rem;
  background-color: var(--color-accent);
}

.menu__link:hover,
.menu__link:active {
  color: var(--color-accent);
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.actions__button {
  padding: 0.625rem;
  color: var(--color-white);
  transition-duration: var(--transition-duration);
}

.actions__button:hover,
.actions__button:active {
  color: var(--color-accent);
}

.actions__icon {
  fill: none;
  stroke: currentColor;
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
  background-color: var(--color-blue-dark);
  transform: translateY(-100vh);
  opacity: 0;
  transition: all 0.3s ease;
}

.mobile-menu.is-active {
  transform: translateY(0);
  opacity: 1;
}

.mobile-menu__inner {
  width: 100%;
  height: 100%;
}

.mobile-menu__top {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  border-bottom: 0.125rem solid;
  border-color: var(--color-white);
}

.mobile-menu__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.mobile-menu__link {
  position: relative;
  font-size: 1.25rem;
  padding: 0.9375rem 0.3125rem;
}

.slider {
  position: relative;
  display: flex;
  overflow: hidden;
  max-height: calc(100vh - 7.9375rem);
}

.slider__slides {
  position: relative;
  display: flex;
  transition: transform 0.6s ease;
}

.slider__controls {
  display: flex;
  column-gap: 0.3125rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.slider__controls-btn {
  width: clamp(0.875rem, 0.8068rem + 0.3636vw, 1.125rem);
  height: clamp(0.875rem, 0.8068rem + 0.3636vw, 1.125rem);
  border: 0.125rem solid;
  border-radius: 3.125rem;
  border-color: #262626;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.slider__controls-btn.is-active {
  background-color: var(--color-accent-transparent);
}

.slider__controls-btn:hover {
  background-color: var(--color-accent);
}

.slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slide__image {
  width: 100%;
  object-fit: cover;
}

.slide__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content-slide {
  color: var(--color-white);
  opacity: 0;
  transform: translateY(-20%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  max-width: 64%;
  pointer-events: none;
}

.content-slide__title,
.content-slide__text,
.content-slide__actions {
  opacity: 0;
  transform: translateY(1.25rem);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.content-slide__title {
  margin-bottom: 0.75rem;
}

.content-slide__text {
  font-size: var(--font-base-size);
  letter-spacing: 0.125rem;
  margin-bottom: 1.75rem;
}

.content-slide-actions {
  display: flex;
  column-gap: 1.25rem;
}

.content-slide.is-active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.content-slide.is-active .content-slide__title {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translateY(0);
}

.content-slide.is-active .content-slide__text {
  transition-delay: 0.4s;
  opacity: 1;
  transform: translateY(0);
}

.content-slide.is-active .content-slide__actions {
  transition-delay: 0.6s;
  opacity: 1;
  transform: translateY(0);
}

.intro {
  display: flex;
  align-items: center;
  min-height: 18.75rem;
  background-image: url("./../img/intro_bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  text-align: center;
  font-weight: 500;
}

.intro__title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.125rem solid;
  border-color: var(--color-accent);
}

.intro__text {
  font-size: 1.5rem;
  transition: all 0.8s ease 0.4s;
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: var(--section-spacing);
  background-image: url("./../img/about_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  text-align: center;
  font-weight: 500;
}

.about__inner {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.about__title {
  margin-bottom: 0.75rem;
}

.about__text {
  max-width: 50rem;
  font-size: var(--font-base-size);
  letter-spacing: 0.125rem;
  transition: all 0.8s ease 0.4s;
}

.benefits {
  margin-bottom: var(--section-spacing);
}

.benefits__title {
  text-align: center;
  margin-bottom: 4rem;
}

.benefits__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.25rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.75rem;
}

.card-benefits {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0.25rem;
}

.card-benefits:hover .card-benefits__image,
.card-benefits:active .card-benefits__image {
  transform: scale(1.08);
}

.card-benefits__image-wrap {
  aspect-ratio: 4/3;
  overflow: hidden;
  background-color: var(--color-blue-dark);
}

.card-benefits__image {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-benefits__content {
  display: grid;
  grid-template-columns: auto 1fr;
}

.card-benefits__text-wrap {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.card-benefits__title {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-benefits__desc {
  font-size: 0.875rem;
  font-weight: 300;
}

.card-benefits__icon-wrap {
  background-color: var(--color-accent);
  width: 4.6875rem;
}

.card-benefits__icon {
  fill: #fff;
  stroke: none;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.ordering {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--color-white);
  background-image: url("./../img/ordering_bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin-bottom: var(--section-spacing);
}

.ordering__inner {
  padding: 2.5rem 0 2.5rem;
}

.ordering__title {
  text-align: center;
  margin-bottom: 1.25rem;
}

.steps-ordering {
  display: flex;
  flex-direction: row;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

.steps-ordering__card {
  width: 50%;
  transition: all 0.5s ease 0s;
}

.steps-ordering__card:hover {
  transform: scale(1.1);
}

.steps-ordering__card:nth-child(2n) .steps-ordering__inner {
  margin-left: auto;
  margin-right: 0;
}

.steps-ordering-card:nth-child(2n+1) .steps-ordering__inner {
  margin-left: 0;
  margin-right: auto;
}

.steps-ordering__inner {
  width: 24.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-ordering__number {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  width: 3.625rem;
  height: 3.625rem;
  line-height: 3.625rem;
  background-color: var(--color-accent);
  border-radius: 100%;
}

.steps-ordering__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.75rem 0 0.75rem;
}

.steps-ordering__text {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.125rem;
}

.catalog {
  margin-bottom: var(--section-spacing);
}

.catalog__title {
  text-align: center;
}

.catalog__link {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 2.875rem;
  transition: all 0.8s ease 0.4s;
}

.catalog__link-btn {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0.125rem solid;
  border-color: var(--color-accent);
}

.product-card {
  min-height: 18.75rem;
  padding: 1.25rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: 18.75rem auto;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.product-card__title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.product-card__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.product-card__desc {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}

.product-card__link {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 0.125rem solid;
  border-color: var(--color-accent);
  margin-bottom: 1.25rem;
}

.product-card__thumbnail {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-card__thumbnail:hover {
  transform: scale(1.1);
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
}

.product-card__price {
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  align-items: center;
}

.product-card__btn {
  color: white;
}

.product-card__btn:hover {
  color: var(--color-black);
}

.product-slider {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--color-blue-dark);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.product-slider.is-active {
  transform: translateY(0);
}

.product-slider__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-slider__top {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.product-slider__center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.product-slider__close::before,
.product-slider__close::after {
  position: absolute;
}

.product-slider__content {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

.product-slider__main-img-wrap {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.product-slider__main-img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.product-slider__main-img.fade-out {
  opacity: 0;
  transform: scale(0.95);
}

.product-slider__main-img.fade-in {
  opacity: 1;
  transform: scale(1);
}

.product-slider__thumbnails-wrap {
  height: 8.125rem;
  position: relative;
}

.product-slider__thumbnails {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  width: fit-content;
  height: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
}

.product-slider__thumb {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
}

.product-slider__thumb.is-active {
  opacity: 1;
}

.feedback {
  margin-bottom: var(--section-spacing);
}

.feedback__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(0.625rem, -4.3092rem + 13.1579vw, 3.75rem);
  min-height: 100%;
  align-items: stretch;
}

.feedback__column {
  display: flex;
  flex-direction: column;
}

.feedback__title {
  color: var(--color-black);
  margin-bottom: 1.75rem;
}

.card-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("./../img/contact_bg.jpg");
  background-size: cover;
  background-position: center;
}

.card-contacts__item {
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
  padding: 0.5rem 0;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 500;
  transition-duration: var(--transition-duration);
}

.card-contacts__item:hover {
  color: var(--color-accent);
}

.form-feedback {
  display: flex;
  flex-direction: column;
  height: auto;
}

.form-feedback__input:focus,
.form-feedback__textarea:focus {
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.2);
}

.form-feedback__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-feedback__btn {
  color: var(--color-white);
}

.form-feedback__btn:hover {
  color: var(--color-black);
}

.form-feedback__capcha {
  width: 10.25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  color: #fff;
  text-transform: uppercase;
}

.footer {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer__logo {
  display: block;
}

.footer__slogan {
  padding: 0.5rem 0;
}

.footer__header {
  margin-bottom: 0.5rem;
  padding: 1.25rem 0 0.5rem 0;
  border-bottom: 0.125rem solid;
  border-color: var(--color-accent);
}

.footer__body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  width: 13.75rem;
}

.footer__offer {
  width: 100%;
}

.footer__title {
  padding: 1.125rem 0;
  font-size: 1.625rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer__menu-item {
  padding-bottom: 0.5rem;
}

.footer__offer {
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 721px) {
  .actions__burger {
    display: none;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: calc(var(--container-width-md) + var(--container-padding) * 2);
  }
}

@media (max-width: 800px) {
  .content-slide {
    max-width: 100%;
  }

  .content-slide__title {
    margin-bottom: 0.25rem;
  }

  .content-slide__text {
    margin-bottom: 0.25rem;
  }

  .benefits__row {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 23.75rem));
    justify-content: center;
  }

  .steps-ordering__card {
    width: 100%;
  }

  .steps-ordering__inner {
    width: 100%;
  }

  .catalog__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-slider__thumbnails {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .body-header__menu {
    display: none;
  }
}

@media (max-width: 700px) {
  .feedback__inner {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .card-contacts {
    min-height: 25rem;
  }
}

@media (max-width: 540px) {
  .content-slide__actions {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer__inner {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .button,
  .button--transparent {
    width: 8.125rem;
  }

  .about__title {
    margin-bottom: 0.25rem;
  }

  .form-feedback__capcha {
    width: 8.125rem;
  }
}