.button, .button__transparent{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: clamp(0.875rem, 0.8068rem + 0.3636vw, 1.125rem);
  text-transform: uppercase;
  font-weight: 300;
  width: 164px;
  height: 48px;

  transition-duration: 0.3s;
}

.button{
  background-color: var(--color-accent);
}

.button:hover, .button:active{
    border: 1px solid;
    border-color: #aaaaaa;
    background-color: unset;
}

.button__transparent{
  border: 1px solid;
  border-color: #aaaaaa;
}

.button__transparent:hover .button__transparent:active{
  border: none;
  background-color: var(--color-accent);
}