.burger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 42px;
  height: 42px;
  padding: 10px;

  &__line{
    height: 3px;
    width: 100%;
    background-color: var(--color-white);

    transition: transform 0.3s ease, 
                background-color 0.3s ease;
    transform-origin: right;
  }

  &:hover &__line{
      background-color: var(--color-accent);
    }

  &:hover &__line:nth-child(2){
    transform: scaleX(0.65);
  }

  &:hover &__line:nth-child(3){
    transform: scaleX(0.35);
  }

}

.close-button{
  position: relative;

  width: 40px;
  height: 40px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__line{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--color-white);

    &:first-child{
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:last-child{
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.button, .button--transparent{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: clamp(0.875rem, 0.8068rem + 0.3636vw, 1.125rem);
  text-transform: uppercase;
  font-weight: 300;
  width: 164px;
  height: 48px;

  transition-duration: 0.3s;
}

.button{
  background-color: var(--color-accent);
}

.button:hover, .button:active{
    border: 1px solid;
    border-color: #aaaaaa;
    background-color: unset;
}

.button--transparent{
  border: 1px solid;
  border-color: #aaaaaa;
}

.button--transparent:hover, .button--transparent:active{
  border: none;
  background-color: var(--color-accent);
}

.button-link{
  border-bottom: 2px solid;
  border-color: var(--color-accent);
}

@media (max-width: 400px) {
  .button, .button--transparent{
    width: 130px;
  }
}

