.socials{
  display: flex;
  align-items: center;

  &__icon{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
  }
}