body {
  font-family: var(--font-base);
  font-size: var(--font-base-size);
  color: var(--color-black);

  background-color: #FAFAFA;
}

.container{
  max-width: calc(var(--container-width-lg) + var(--container-padding) * 2);
  padding-inline: var(--container-padding);
  margin-inline: auto;
}

@media (max-width: 1500px){
  .container{
    max-width: calc(var(--container-width-md) + var(--container-padding) * 2);
  }
}

svg{
  fill: currentColor;
  flex-shrink: 0;
}

.title-lg{
  font-size: var(--title-size-lg);
  font-weight: 500;
  text-transform: uppercase;
}

.title-md{
  font-size: var(--title-size-md);
  font-weight: 500;
  text-transform: uppercase;
}

.title-sm{
  font-size: var(--title-size-sm);
  font-weight: 500;
}

a.link-accent{
  transition-duration: var(--transition-duration);

  &:hover{
    color: var(--color-accent);
  }
}

a.is-active{
  &::after{
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 6px;
    height: 2px;
    background-color: var(--color-accent);
  }
    }

._anim-show{
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show{
  transform: translate(0, 0);
  opacity: 1;
}