///========= about section ================================================
.about{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16 / 9;

  margin-bottom: var(--section-spacing);

  background-image: url('./../img/about_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: var(--color-white);
  text-align: center;
  font-weight: 500;

  &__inner{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__title{
    margin-bottom: 12px;
  }

  &__text{
    max-width: 800px;

    font-size: var(--font-base-size);
    letter-spacing: 2px;

    transition: all 0.8s ease 0.4s;
  }
}

///========= about media ================================================
@media (max-width: 400px) {
  .about__title{
    margin-bottom: 4px;
  }
}