.feedback{
  margin-bottom: var(--section-spacing);

  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(0.625rem, -4.3092rem + 13.1579vw, 3.75rem);

    min-height: 100%;
    align-items: stretch;
  }

  &__column{
    display: flex;
    flex-direction: column;
  }

  &__title{
    color: var(--color-black);
    margin-bottom: 28px;
  }
}

.card-contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-image: url('./../img/contact_bg.jpg');
  background-size: cover;
  background-position: center;

  &__wrap{

  }

  &__item{
    display: flex;
    align-items: center;
    column-gap: 6px;

    padding: 8px 0;

    color: var(--color-white);
    font-size: 24px;
    font-weight: 500;

    transition-duration: var(--transition-duration);

    &:hover{
      color: var(--color-accent);
    }
  }
}

.form-feedback{
    display: flex;
    flex-direction: column;
    height: auto;

    &__input, &__textarea{
      &:focus {
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
      }
    }
    
    &__row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 8px;
    }

    &__btn{
      color: var(--color-white);

      &:hover{
        color: var(--color-black);
      }
    }

    &__capcha{
      width: 164px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-accent);
      color: #fff;
      text-transform: uppercase;
    }
  }




@media (max-width: 700px) {
  .feedback__inner {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .card-contacts{
    min-height: 400px;
  }
}

@media (max-width: 400px) {
  .form-feedback__capcha{
    width: 130px;
  }
}