///========= header section ================================================
.header {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  font-size: 16px;
}

///========= header top ================================================
.top-header{
  border-bottom: 1px solid;
  border-color: var(--color-border-grey);
  font-size: 16px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;

    &__link {
      display: flex;
      align-items: center;
      column-gap: 4px;
      padding: 8px;
    }
}

///========= header body ================================================
.body-header{
  &__inner{
    min-height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.logo{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu{
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &__list{
    display: flex;
    column-gap: 20px;
  }

  &__item{

  }

  &__link{
    position: relative;
    padding: 15px 5px;

    &.is-active::after {
      content: "";
      position: absolute;
      left: 5px;
      right: 5px;
      bottom: 6px;
      height: 2px;
      background-color: var(--color-accent);
    }

    &:hover, &:active{
      color: var(--color-accent);
    }
  }
}

.actions{
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__button{
      padding: 10px;
      color: var(--color-white);
      transition-duration: var(--transition-duration);

      &:hover, &:active{
        color: var(--color-accent);
      }
  }

  &__icon{
    fill: none;
    stroke: currentColor;
  }

  &__burger{
  }
}

///========= header mobile menu ================================================
.mobile-menu{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
  background-color: var(--color-blue-dark);

  transform: translateY(-100vh);
  opacity: 0;
  transition: all 0.3s ease;

  &.is-active{
    transform: translateY(0);
    opacity: 1;
  }
  
  &__inner{
    width: 100%;
    height: 100%;
  }

  &__top{
    display: flex;
    justify-content: space-between;

    padding-block: 8px;

    border-bottom: 2px solid;
    border-color: var(--color-white);
  }

  &__button-close{
  }

  &__body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }

  &__menu{
    
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link{
    position: relative;
    font-size: 20px;
    padding: 15px 5px;
  }


}

///========= header media ================================================
@media (min-width: 721px) {
  .actions__burger {
    display: none;
  }
}

@media (max-width: 720px) {
  .body-header__menu {
    display: none;
  }
}
